<div  class='container'>
  
    <h3 style="text-align: center">Activity List</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ACTIVITY ID</th>
          <th>ACTIVITY NAME</th>
          <th>START DATE</th>
          <th>END DATE</th>
          <th>DURATION</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of activity">
          <td>{{ a.activityId }}</td>
          <td>{{ a.activityName }}</td>
          <td>{{ a.startDate}}</td>
          <td>{{ a.endDate}}</td>
          <td>{{ a.duration}}</td>
          <td class='btn-group'>
            <a [routerLink]="['/update',a.activityId]" class='btn btn-outline-primary mr-2'>Update</a>
            <button class="btn btn-outline-danger" (click)="delete(a.activityId)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="message" class="alert alert-danger"  (click)="message = null" >
      {{ message }}
    </p>
 
  </div>
  

